@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Poppins;
}

header {
    height: 150px;
    display: flex;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button {
    cursor: pointer;
    width: 80px;
    height: 30px;
}

#vermelho {
    background-color: red;
}

#amarelo {
    background-color: yellow;
}

#verde {
    background-color: green;

}

#automatico {
    background-image: linear-gradient(red, yellow, green);
}

footer {
    height: 75px;
    font-style: italic;
    justify-content: center;
    align-items: flex-start;
  
}